*{
	margin: 0px;
	padding: 0px;
	font-family: 'Jost', sans-serif
	
}
body{
	background-color: #E7E7E7;
	
}
.form{
	width: 60% !important;
}
.recent{
	width: 100px;
	height: 100px;
	border-radius: 25px;
}
.recent-body{

}