@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400|Lato:400,300|Coda|Open+Sans);

/* 
* Art by @jofpin 
* 2014
*/


.card {
 width: 30%;
 margin-top: 150px;
}
.card-body .image .avatar{
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0px auto 0px;

}
.card-body .image img{
  height: 200px;
  left: 50%;

  transform: translate(-50%);
  margin: auto ;
  border-radius: 50%;
  padding: auto;
}
.card-name h2{
  text-align: center;
}